@import url(https://fonts.googleapis.com/icon?family=Material+Icons); //Material Icons
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500); //Material Fonts

$mdc-theme-primary: #212121;
$mdc-theme-secondary: #616161;
$mdc-theme-on-primary: white;
$mdc-theme-on-secondary: white;

@import "@material/button/mdc-button";
@import "@material/chips/mdc-chips";
@import "@material/layout-grid/mdc-layout-grid";
@import "@material/list/mdc-list";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/textfield/icon/mdc-text-field-icon";
@import "@material/textfield/mdc-text-field";
@import "@material/list/mdc-list";
@import "@material/typography/mdc-typography";
@import "@material/form-field/mdc-form-field";
@import "@material/checkbox/mdc-checkbox";


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

button {
    @extend .mdc-button;

    span {
        @extend .mdc-button__label;
    }
}

#navbar {
    @extend .mdc-top-app-bar;
    @extend .mdc-top-app-bar--fixed;

    div {
        @extend .mdc-top-app-bar__row;

        section {
            @extend .mdc-top-app-bar__section;


            &.start {
                @extend .mdc-top-app-bar__section--align-start;

                span {
                    @extend .mdc-top-app-bar__title;
                }
            }

            &.end {
                @extend .mdc-top-app-bar__section--align-end;

                $types:
                    (critical: red,
                        major: yellow,
                        minor:violet,
                        event: skyblue);

                @each $type,
                $color in $types {
                    button {
                        margin: 0 5px !important;

                        &.#{$type} {
                            color: $color;
                            @include mdc-button-outline-color($color);

                            &.active {
                                @include mdc-button-container-fill-color($color);
                            }

                            &.inactive {
                                @include mdc-button-ink-color($color);

                                span.type {
                                    border-color: $color;
                                }
                            }
                        }
                    }
                }

                button {

                    &.active {
                        @extend .mdc-button--raised;
                        color: $mdc-theme-primary !important;
                        transition: all 0.25s;

                        span.type {
                            border-color: $mdc-theme-primary;
                        }
                    }

                    &.inactive {
                        @extend .mdc-button--outlined;
                        @extend .mdc-button--dense;
                        transition: all 0.25s;
                    }

                    span {

                        &.type {
                            padding-right: 10px;
                            border-right: 2px solid;

                        }

                        &.count {
                            margin-left: 10px;
                        }
                    }
                }

            }

        }
    }
}

#main-content {
    @extend .mdc-layout-grid;
    padding: 0;

    &>div {
        @extend .mdc-layout-grid__inner;
        @extend .mdc-top-app-bar--fixed-adjust;

        div {
            &.left {
                @extend .mdc-layout-grid__cell--span-5;
                margin: 10px;

                div {
                    .module-title {
                        @extend .mdc-typography--headline5;
                        margin: 5px;
                    }
                }

                #filters {
                    .dropdowns {
                        padding: 10px;
                        width: 100%;
                        text-align: center;
                        background: $mdc-theme-secondary;
                        border-radius: 30px;

                        button {
                            color: white;

                            &.activated {
                                @extend .mdc-button--raised;
                            }
                        }
                    }

                    .labels {
                        text-align: center;
                        display: inline-block;
                        margin: 0;
                        width: 100%;

                        .list {
                            @extend .mdc-chip-set;
                            @extend .mdc-chip-set--input;
                            display: none;

                            &>div {
                                @extend .mdc-chip;

                                div {
                                    @extend .mdc-chip__text;
                                }

                                i {
                                    @extend .mdc-chip__icon;
                                    @extend .mdc-chip__icon--trailing;
                                }
                            }
                        }

                        #filter-field__wrapper {
                            margin: 0 5px;

                            input {
                                text-align: center;
                            }
                        }
                    }

                    .date-range {
                        margin: 10px 0;
                        text-align: center;
                        display: flex;

                        &>div {
                            text-align: center;
                            flex-grow: 1;
                            margin: 0 5px;
                        }
                    }

                    .actions {
                        margin: 10px 0;
                        text-align: center;
                        display: flex;

                        button {
                            margin: 0 5px;
                        }

                        #export-csv {
                            flex-grow: .2;
                        }

                        #load-report {
                            flex-grow: .8;
                            @extend .mdc-button--raised;
                        }
                    }
                }

                #alarms-list {
                    ul {
                        li {
                            display: flex;

                            &>label,
                            &>span {
                                text-align: center;
                            }

                            .alarm-description {
                                flex: .6;
                            }

                            .alarm-count {
                                flex: .3;
                            }

                            .checkbox {
                                flex: .1;
                            }
                        }

                        .header {
                            text-transform: uppercase;
                            font-weight: 600;
                            padding: 10px 0;
                        }
                    }
                }
            }

            &.right {
                @extend .mdc-layout-grid__cell--span-7;

                #all-alarms {
                    ul {
                        li {
                            display: flex;

                            label {
                                flex: 1;
                            }
                        }

                        .header {
                            text-transform: uppercase;
                            font-weight: 600;
                            padding: 10px 0;

                            label {
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }
}